@charset "UTF-8";
html {
  font-size: 100%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.9rem;
  color: #383e45;
}

a {
  color: #383e45;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.btn {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
  border-radius: 10px;
  border: 2px solid #383e45;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/********************************
ヘッダー
********************************/
#header {
  background-color: #ecf1f3;
}

#header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
}

#header .header-inner .link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .header-inner .link-list li {
  padding: 10px 0;
  margin-right: 25px;
}

#header .header-inner .link-list li:last-child {
  margin-right: 0;
}

/********************************
メイン
********************************/
#main-contents {
  width: 100%;
  padding: 20px;
}

/********************************
問題表示画面
********************************/
#board-container {
  width: 100%;
  min-width: 600px;
  height: 300px;
  margin: 0 auto;
}

#board-container #board {
  width: 100%;
  height: 100%;
  background-color: #33894d;
  border-style: solid;
  border-width: 9px;
  border-color: #eb8e4b #e67d32 #b95d1c chocolate;
  border-radius: 2px;
}

#board-container #board #start-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 20px;
}

#board-container #board #start-window .menu {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#board-container #board #start-window .menu input[type="radio"] {
  display: none;
}

#board-container #board #start-window .menu input[type="radio"]:checked + label {
  background-color: orange;
}

#board-container #board #start-window .menu label {
  cursor: pointer;
  display: block;
  text-align: center;
  width: 60%;
  margin-bottom: 20px;
  padding: 15px;
  border: 2px solid #383e45;
  border-radius: 10px;
}

#board-container #board #start-window .menu label:last-child {
  margin-bottom: 0;
}

#board-container #board #start-window .description {
  width: 65%;
  border-radius: 5px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#board-container #board #start-window .description .text-area {
  width: 50%;
}

#board-container #board #start-window .description .text-area #description-text {
  height: 70%;
}

#board-container #board #start-window .description .text-area #description-text #menu-2-text,
#board-container #board #start-window .description .text-area #description-text #menu-3-text {
  display: none;
}

#board-container #board #start-window .description .text-area #start-btn {
  width: 70%;
}

#board-container #board #count-down-window {
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
}

#board-container #board #count-down-window p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 70px;
  font-weight: bold;
  color: orange;
  opacity: 0;
}

#board-container #board #count-down-window p:nth-child(1) {
  -webkit-animation: count-down 1s 0s;
          animation: count-down 1s 0s;
}

#board-container #board #count-down-window p:nth-child(2) {
  -webkit-animation: count-down 1s 1s;
          animation: count-down 1s 1s;
}

#board-container #board #count-down-window p:nth-child(3) {
  -webkit-animation: count-down 1s 2s;
          animation: count-down 1s 2s;
}

@-webkit-keyframes count-down {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes count-down {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

#board-container #board #question-window {
  display: none;
}

#board-container #board #question-window #question-text {
  font-size: 1.5rem;
  font-weight: bold;
}

#board-container #board #question-window #remaining-text {
  font-size: 1.2rem;
  color: #c2c7ce;
}

#board-container #board #question-window #inputed-text {
  font-size: 1.2rem;
  color: orange;
}

#board-container #board #question-window #time-limit-counter {
  display: none;
}

#board-container #board #question-window .circle {
  position: relative;
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}

#board-container #board #question-window .circle::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: calc(-90px / 2);
  width: 90px;
  height: 90px;
  background: #3bdd84;
  -webkit-transform-origin: right calc(90px / 2);
          transform-origin: right calc(90px / 2);
  z-index: 2;
  -webkit-animation-name: rotate-circle-left;
          animation-name: rotate-circle-left;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#board-container #board #question-window .circle::after {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: calc(90px / 2);
  width: 90px;
  height: 90px;
  background: #3bdd84;
  -webkit-transform-origin: left calc(90px / 2);
          transform-origin: left calc(90px / 2);
  z-index: 3;
  -webkit-animation-name: rotate-circle-right;
          animation-name: rotate-circle-right;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#board-container #board #question-window .circle.circle-15::after, #board-container #board #question-window .circle.circle-15::before {
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}

#board-container #board #question-window .circle.circle-30::after, #board-container #board #question-window .circle.circle-30::before {
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
}

#board-container #board #question-window .circle.circle-45::after, #board-container #board #question-window .circle.circle-45::before {
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
}

#board-container #board #question-window .circle.circle-60::after, #board-container #board #question-window .circle.circle-60::before {
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
}

#board-container #board #question-window .circle.circle-90::after, #board-container #board #question-window .circle.circle-90::before {
  -webkit-animation-duration: 90s;
          animation-duration: 90s;
}

#board-container #board #question-window .circle.circle-120::after, #board-container #board #question-window .circle.circle-120::before {
  -webkit-animation-duration: 120s;
          animation-duration: 120s;
}

#board-container #board #question-window .circle .circle-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background: #fbf4df;
  border-radius: 50%;
  z-index: 4;
}

#board-container #board #question-window .circle .circle-inner #remaining-time-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #747474;
  font-weight: bold;
  font-size: 24px;
}

@-webkit-keyframes rotate-circle-right {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    background: #3bdd84;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    background: #3bdd84;
  }
  50.01% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    background: #fff;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    background: #fff;
  }
}

@keyframes rotate-circle-right {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    background: #3bdd84;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    background: #3bdd84;
  }
  50.01% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    background: #fff;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    background: #fff;
  }
}

@-webkit-keyframes rotate-circle-left {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    background: #3bdd84;
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    background: #3bdd84;
  }
  75% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    background: orange;
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    background: red;
  }
}

@keyframes rotate-circle-left {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    background: #3bdd84;
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    background: #3bdd84;
  }
  75% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    background: orange;
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    background: red;
  }
}

#board-container #board #whack-mole-window {
  display: none;
  width: 100%;
  height: 100%;
}

#board-container #board #whack-mole-window .whack-mole-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

#board-container #board #whack-mole-window .whack-mole-table dd {
  width: calc(25% - 10px);
  height: calc(100% / 3 - 10px);
  margin: 5px;
  text-align: center;
  background-image: url("../img/hole.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  position: relative;
  overflow: hidden;
}

#board-container #board #whack-mole-window .whack-mole-table dd .number-img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-animation-name: show;
          animation-name: show;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes show {
  0% {
    top: 100%;
  }
  30% {
    top: 0;
  }
  50% {
    top: 0;
  }
  70% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

@keyframes show {
  0% {
    top: 100%;
  }
  30% {
    top: 0;
  }
  50% {
    top: 0;
  }
  70% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

#board-container #board #whack-mole-window .whack-mole-table dd .whack-img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#board-container #board #result-window {
  display: none;
}

/********************************

********************************/
#typing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 20px;
}

/********************************
タイピング設定
********************************/
#typing-setting {
  width: 25%;
  background-color: #33894d;
  border-style: solid;
  border-width: 9px;
  border-color: #eb8e4b #e67d32 #b95d1c chocolate;
  border-radius: 2px;
}

#typing-setting .checkbox-wrapper .checkbox {
  display: none;
}

#typing-setting .checkbox-wrapper .checkbox + label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 15px 0px 15px 55px;
}

#typing-setting .checkbox-wrapper .checkbox + label::before, #typing-setting .checkbox-wrapper .checkbox + label::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#typing-setting .checkbox-wrapper .checkbox + label::before {
  width: 38px;
  height: 18px;
  left: 0;
  border: 1px solid #e4e3e1;
  border-radius: 18px;
  background: #ffffff;
}

#typing-setting .checkbox-wrapper .checkbox + label::after {
  width: 19px;
  height: 18px;
  left: 0;
  border: 1px solid #e4e3e1;
  border-radius: 50%;
  background: #bdbdbd;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#typing-setting .checkbox-wrapper .checkbox:checked + label::after {
  left: 19px;
  background: #3cc2da;
}

#typing-setting .checkbox-wrapper .checkbox:not(:checked) ~ .select-wrapper {
  display: none;
}

#typing-setting .select-wrapper {
  display: inline-block;
  width: 70px;
  position: relative;
  border: 2px solid #6fe2f7;
  border-radius: 35px;
  background: #ffffff;
}

#typing-setting .select-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 5px solid #383e45;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

#typing-setting .select-wrapper .select {
  width: 100%;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 3px 30px 3px 10px;
}

/********************************
タイピング
********************************/
#typing-tool {
  width: 75%;
}

/********************************
キーボード
********************************/
#keyboard-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

#keyboard-container #keyboard .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}

#keyboard-container #keyboard .row:last-child {
  margin-bottom: 0px;
}

#keyboard-container #keyboard .row .key {
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 1px #c2c7ce;
          box-shadow: 1px 1px 1px #c2c7ce;
  font-weight: bold;
  font-size: 16px;
  margin-right: 5px;
  width: 35px;
  height: 35px;
  background-color: white;
  color: #9c9c9c;
  position: relative;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

#keyboard-container #keyboard .row .key:last-child {
  margin-right: 0;
}

#keyboard-container #keyboard .row .key p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#keyboard-container #keyboard .row .target-key {
  background-color: orange;
  color: white;
}

#keyboard-container #keyboard .row .missed-key {
  background-color: red;
  color: white;
}

#keyboard-container #keyboard .row .opacity-1 {
  opacity: 0.1;
}

#keyboard-container #keyboard .row .opacity-2 {
  opacity: 0.2;
}

#keyboard-container #keyboard .row .opacity-3 {
  opacity: 0.3;
}

#keyboard-container #keyboard .row .opacity-4 {
  opacity: 0.4;
}

#keyboard-container #keyboard .row .opacity-5 {
  opacity: 0.5;
}

#keyboard-container #keyboard .row .opacity-6 {
  opacity: 0.6;
}

#keyboard-container #keyboard .row .opacity-7 {
  opacity: 0.7;
}

#keyboard-container #keyboard .row .opacity-8 {
  opacity: 0.8;
}

#keyboard-container #keyboard .row .opacity-9 {
  opacity: 0.9;
}

#keyboard-container #keyboard .row .opacity-10 {
  opacity: 1;
}

@-webkit-keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

#keyboard-container #keyboard .row #key-tab {
  width: 55px;
}

#keyboard-container #keyboard .row #key-enter-1 {
  border-left: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-radius: 3px 3px 0 3px;
  -webkit-box-shadow: 1px 0px #c2c7ce;
          box-shadow: 1px 0px #c2c7ce;
  width: 55px;
  position: relative;
}

#keyboard-container #keyboard .row #key-enter-1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 10px;
  height: 1px;
  background-color: #d8d8d8;
}

#keyboard-container #keyboard .row #key-caps {
  width: 65px;
}

#keyboard-container #keyboard .row #key-enter-2 {
  border-left: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 1px 1px 1px #c2c7ce;
          box-shadow: 1px 1px 1px #c2c7ce;
  width: 45px;
  position: relative;
}

#keyboard-container #keyboard .row #key-enter-2::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -1px;
  display: inline-block;
  width: 1px;
  height: 6px;
  background-color: #d8d8d8;
}

#keyboard-container #keyboard .row #key-enter-2::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -1px;
  display: inline-block;
  width: 1px;
  height: 6px;
  background-color: #d8d8d8;
  -webkit-box-shadow: 1px 0px #c2c7ce;
          box-shadow: 1px 0px #c2c7ce;
}

#keyboard-container #keyboard .row #key-shift-left {
  width: 80px;
}

#keyboard-container #keyboard .row #key-shift-right {
  width: 70px;
}

#keyboard-container #keyboard .row #key-ctrl {
  width: 50px;
}

#keyboard-container #keyboard .row #key-space {
  width: 140px;
}

/********************************
キーボード対応指
********************************/
#hand-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hand-container #hand-left {
  margin-right: 25px;
}

#hand-container .hand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#hand-container .hand .finger {
  border: 1px solid #d8d8d8;
  border-radius: 20px 20px 0 0;
  margin-right: 10px;
  width: 35px;
}

#hand-container .hand .finger:last-child {
  margin-right: 0;
}

#hand-container .hand .target-finger {
  background-color: orange;
}

#hand-container .hand .finger-little {
  height: 70px;
}

#hand-container .hand .finger-ring {
  height: 90px;
}

#hand-container .hand .finger-middle {
  height: 100px;
}

#hand-container .hand .finger-index {
  height: 85px;
}

#hand-container .hand .finger-thumb {
  height: 40px;
}

/********************************
フッター
********************************/
#footer {
  margin-top: auto;
  padding: 10px 0;
  background-color: #b6b5b5;
}

#footer .copyright {
  text-align: center;
}

@media screen and (max-width: 850px) {
  #typing-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #typing-container #typing-setting {
    width: 100%;
    margin-top: 20px;
  }
  #typing-container #typing-tool {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */