@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  box-sizing: border-box;
  font-size: 0.9rem;
  color: #383e45;
}

a {
  color: #383e45;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/********************************
ヘッダー
********************************/
#header {
  background-color: rgb(236, 241, 243);
  .header-inner {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    .link-list {
      display: flex;

      li {
        padding: 10px 0;
        margin-right: 25px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

/********************************
メイン
********************************/
#main-contents {
  width: 100%;
  padding: 20px;
}

/********************************
問題表示画面
********************************/
#board-container {
  width: 100%;
  min-width: 600px;
  height: 300px;
  margin: 0 auto;

  #board {
    width: 100%;
    height: 100%;
    background-color: #33894d;
    border-style: solid;
    border-width: 9px;
    border-color: rgb(235, 142, 75) rgb(230, 125, 50) rgb(185, 93, 28) chocolate;
    border-radius: 2px;

    #start-window{
      display: flex;

      .menu{
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;

        input[type=radio]{
          display: none;

          &:checked + label{
            background-color: orange
          }
        }

        label{
          cursor: pointer;
          display: block;
          text-align: center;
          width: 60%;
          margin-bottom: 20px;
          padding: 15px;
          border: 2px solid #383e45;
          border-radius: 10px;

          &:last-child{
            margin-bottom: 0;
          }
        }
      }

      .description{
        width: 60%;
        border-radius: 5px;
        background-color: white;
      }
    }
  }
}

/********************************

********************************/
#typing-container {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

/********************************
タイピング設定
********************************/
#typing-setting {
  width: 25%;
  background-color: #33894d;
  border-style: solid;
  border-width: 9px;
  border-color: rgb(235, 142, 75) rgb(230, 125, 50) rgb(185, 93, 28) chocolate;
  border-radius: 2px;

  .checkbox {
    display: none;

    + label {
      cursor: pointer;
      display: block;
      position: relative;
      padding-left: 25px;

      &::before {
        content: "";
        position: absolute;
        display: block;
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }

    &:checked + label::after {
      content: "";
      position: absolute;
      display: block;
      box-sizing: border-box;
      width: 22px;
      height: 13px;
      top: 50%;
      left: 2px;
      transform: translateY(-13px) rotate(-45deg);
      border-bottom: 5px solid;
      border-left: 3px solid;
      border-color: #585753;
    }
  }
}

/********************************
タイピング
********************************/
#typing-tool {
  width: 75%;
}

/********************************
キーボード
********************************/
$key-color: rgb(156, 156, 156);
$key-background-color: white;
$key-border-color: #d8d8d8;
$key-box-shadow-color: #c2c7ce;
$target-key-color: blue;
$target-key-background-color: red;

#keyboard-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  #keyboard {
    .row {
      display: flex;
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0px;
      }
      .key {
        border: 1px solid $key-border-color;
        border-radius: 3px;
        box-shadow: 1px 1px 1px $key-box-shadow-color;
        font-weight: bold;
        font-size: 16px;
        margin-right: 5px;
        width: 35px;
        height: 35px;
        background-color: $key-background-color;
        color: $key-color;
        position: relative;
        &:last-child {
          margin-right: 0;
        }
        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .target-key {
        background-color: $target-key-background-color;
        color: $target-key-color;
      }

      .missed {
        animation: flash 0.3s linear infinite;
      }

      @keyframes flash {
        0%,
        100% {
          opacity: 1;
        }

        50% {
          opacity: 0;
        }
      }

      #key-tab {
        width: 55px;
      }

      #key-enter-1 {
        border-left: 1px solid $key-border-color;
        border-top: 1px solid $key-border-color;
        border-right: 1px solid $key-border-color;
        border-radius: 3px 3px 0 3px;
        box-shadow: 1px 0px $key-box-shadow-color;
        width: 55px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          display: inline-block;
          width: 10px;
          height: 1px;
          background-color: $key-border-color;
        }
      }

      #key-caps {
        width: 65px;
      }

      #key-enter-2 {
        border-left: 1px solid $key-border-color;
        border-bottom: 1px solid $key-border-color;
        border-right: 1px solid $key-border-color;
        border-radius: 0 0 3px 3px;
        box-shadow: 1px 1px 1px $key-box-shadow-color;
        width: 45px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: -5px;
          left: -1px;
          display: inline-block;
          width: 1px;
          height: 6px;
          background-color: $key-border-color;
        }
        &::after {
          content: "";
          position: absolute;
          top: -5px;
          right: -1px;
          display: inline-block;
          width: 1px;
          height: 6px;
          background-color: $key-border-color;
          box-shadow: 1px 0px $key-box-shadow-color;
        }
      }

      #key-shift-left {
        width: 80px;
      }

      #key-shift-right {
        width: 70px;
      }

      #key-ctrl {
        width: 50px;
      }

      #key-space {
        width: 140px;
      }
    }
  }
}

/********************************
キーボード対応指
********************************/
$finger-border-color: #d8d8d8;
$target-finger-color: red;
#hand-container {
  display: flex;
  justify-content: center;

  #hand-left {
    margin-right: 25px;
  }

  .hand {
    display: flex;
    align-items: flex-end;

    .finger {
      border: 1px solid $finger-border-color;
      border-radius: 20px 20px 0 0;
      margin-right: 10px;
      width: 35px;
      &:last-child {
        margin-right: 0;
      }
    }

    .target-finger {
      background-color: $target-finger-color;
    }

    .finger-little {
      height: 70px;
    }

    .finger-ring {
      height: 90px;
    }

    .finger-middle {
      height: 100px;
    }

    .finger-index {
      height: 85px;
    }

    .finger-thumb {
      height: 40px;
    }
  }
}

/********************************
フッター
********************************/
#footer {
  margin-top: auto;
  padding: 10px 0;
  background-color: rgb(182, 181, 181);
  .copyright {
    text-align: center;
  }
}

@media screen and (max-width: 850px){
  #typing-container {
    flex-direction: column;

    #typing-setting {
      width: 100%;
      margin-top: 20px;
    }

    #typing-tool {
      width: 100%;
    }
  }
}
