@charset "UTF-8";

html {
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
    "メイリオ", "Meiryo", sans-serif;
  font-size: 100%;
}

body {
  box-sizing: border-box;
  font-size: 0.9rem;
  color: #383e45;
  background-color: #faf5ff;
}

a {
  color: #383e45;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.btn {
  cursor: pointer;
  display: block;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  font-weight: bold;
  i {
    margin-right: 10px;
  }
}

.btn-orange {
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
  color: #fff;
  &:hover {
    margin-top: 3px;
    border-bottom: 2px solid #b84c00;
  }
}

.btn-gray {
  background-color: #6b6764;
  border-bottom: 5px solid #474644;
  color: #fff;
  &:hover {
    margin-top: 3px;
    border-bottom: 2px solid #474644;
  }
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  position: relative;
}

/********************************
ヘッダー
********************************/
#header {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: rgb(236, 241, 243);
  .header-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .logo {
      display: flex;
      align-items: center;
    }
    .link-list {
      display: flex;
      align-items: center;

      li {
        padding: 10px 0;
        margin-right: 25px;
        font-size: 1.2rem;
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

/********************************
メインコンテンツ
********************************/
#main-contents {
  width: 70%;
}

/********************************
問題表示画面
********************************/
#window-container {
  width: 100%;
  min-width: 650px;
  height: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  #main-window {
    width: 100%;
    height: 100%;
    background-color: #006633;
    border: 8px solid #c1beb9;
    border-radius: 3px;
    box-shadow: 0 0 5px #333, 0 0 5px #555 inset;
    position: relative;

    &::before,
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
    }
    &::before {
      right: 10px;
      border: solid 3px #fff;
      width: 20px;
      border-radius: 3px 2px 0 2px;
    }
    &::after {
      right: 40px;
      border: solid 3px orange;
      width: 25px;
      border-radius: 8px 5px 2px 5px;
    }

    #start-window {
      display: flex;
      width: 100%;
      height: 100%;
      padding: 20px;

      .menu {
        width: calc(35% - 15px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-right: 15px;

        input[type="radio"] {
          display: none;

          &:checked + label {
            background-color: orange;
            color: white;
            &:hover {
              opacity: 1;
            }
          }
        }

        label {
          cursor: pointer;
          display: block;
          text-align: center;
          width: 100%;
          padding: 7px;
          border: 3px solid white;
          border-radius: 30px 0px 0px 30px;
          color: white;
          font-size: 1.3rem;
          font-weight: bold;
          transition: 0.4s;

          &:hover {
            opacity: 0.7;
          }
        }
      }

      .description {
        width: 65%;
        height: 100%;
        display: flex;

        .text-area {
          width: 50%;
          .description-text {
            height: 70%;

            .title {
              font-weight: bold;
              font-size: 1.3rem;
              color: orange;
              margin-bottom: 5px;
            }
            .text {
              font-size: 1rem;
              color: white;
            }
            #menu-2-text,
            #menu-3-text {
              display: none;
            }
          }
          .btn-wrapper {
            height: 30%;
            display: flex;
            justify-content: center;
          }
        }

        #description-img {
          width: calc(50% - 15px);
          margin-left: 15px;
          border-radius: 10px;
          border: 5px solid white;
        }
      }
    }

    #count-down-window {
      display: none;
      width: 100%;
      height: 100%;
      position: relative;

      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 70px;
        font-weight: bold;
        color: orange;
        opacity: 0;
        user-select: none;

        &:nth-child(1) {
          animation: count-down 1s 0s;
        }

        &:nth-child(2) {
          animation: count-down 1s 1s;
        }

        &:nth-child(3) {
          animation: count-down 1s 2s;
        }

        @keyframes count-down {
          0% {
            opacity: 1;
          }
          50% {
            opacity: 0.5;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }

    #question-window {
      display: none;
      width: 100%;
      height: 100%;
      position: relative;

      .question-inner {
        width: 70%;
        height: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        #question-text {
          font-size: 3.8rem;
          font-weight: bold;
          color: white;
        }

        .typing-text {
          display: flex;
          #remaining-text {
            font-size: 2.6rem;
            font-weight: bold;
            color: #8a8b8b8a;
          }

          #inputed-text {
            font-size: 2.6rem;
            font-weight: bold;
            color: orange;
          }
        }
      }
    }

    #whack-mole-window {
      display: none;
      width: 100%;
      height: 100%;

      .whack-mole-table {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        height: 100%;
        margin: 0 auto;
        dd {
          width: calc(25% - 10px);
          height: calc(100% / 3 - 10px);
          margin: 5px;
          text-align: center;
          background-image: url("../img/hole.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: bottom;
          position: relative;
          overflow: hidden;
          .number-img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            height: 80%;
            object-fit: contain;
            animation-name: show;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
            // animation-durationはjsから設定

            @keyframes show {
              0% {
                top: 100%;
              }
              30% {
                top: 0;
              }
              50% {
                top: 0;
              }
              70% {
                top: 0;
              }
              100% {
                top: 100%;
              }
            }
          }

          .whack-img {
            position: absolute;
            top: 0;
            left: 30%;
            width: 80%;
            height: 90%;
            object-fit: contain;
            animation: whack 0.2s linear forwards;
            @keyframes whack {
              0% {
                transform: rotate(10deg);
              }
              50% {
                transform: rotate(-45deg);
              }
              100% {
                transform: rotate(10deg);
              }
            }
          }
        }
      }
    }

    #result-window {
      display: none;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 15px;

      .table {
        width: 47%;
        display: flex;
        flex-wrap: wrap;
        dt,
        dd {
          color: white;
          font-size: 1.2rem;
          font-weight: bold;
          padding: 3px 5px;
        }
        dt {
          width: 65%;
          border-top: 2px solid white;
          border-left: 2px solid white;
          &:last-of-type {
            border-bottom: 2px solid white;
          }
        }
        dd {
          width: 35%;
          text-align: right;
          border-top: 2px solid white;
          border-left: 2px solid white;
          border-right: 2px solid white;

          &:last-of-type {
            border-bottom: 2px solid white;
          }
        }

        .green {
          color: #a4ff80;
        }

        .pink {
          color: pink;
        }
      }

      .evaluation-wrapper {
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .circle {
          display: inline-block;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          background-color: #00adff;
          position: relative;
          visibility: hidden;
          animation: stamp 0.5s 1.1s ease-in forwards;

          @keyframes stamp {
            0% {
              visibility: visible;
              opacity: 0;
              transform: rotate(-30deg) scale(4);
            }
            50% {
              visibility: visible;
              opacity: 0.8;
              transform: rotate(-15deg) scale(2);
            }
            100% {
              visibility: visible;
              opacity: 1;
              transform: rotate(0deg) scale(1);
            }
          }

          #evaluation-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 3.8rem;
            font-weight: bold;
            color: white;
          }
        }

        #score-text {
          width: 100px;
          height: 100px;
          line-height: 100px;
          text-align: center;
          color: white;
          font-weight: bold;
          font-size: 3rem;
          position: relative;

          &::before {
            content: "";
            width: 0;
            height: 3px;
            position: absolute;
            top: 73%;
            left: 13%;
            transform: rotate(-5deg);
            background-color: white;
            border-radius: 5px;
            animation: show-under-line-1 0.2s 0.7s linear forwards;
          }

          &::after {
            content: "";
            width: 0;
            height: 3px;
            position: absolute;
            top: 80%;
            left: 13%;
            transform: rotate(-5deg);
            background-color: white;
            border-radius: 5px;
            animation: show-under-line-2 0.2s 0.9s linear forwards;
          }

          @keyframes show-under-line-1 {
            0% {
              width: 0;
            }
            100% {
              width: 77%;
            }
          }

          @keyframes show-under-line-2 {
            0% {
              width: 0;
            }
            100% {
              width: 83%;
            }
          }
        }
      }

      .btn-wrapper {
        width: 28%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }

    #time-limit-counter {
      display: none;
      position: absolute;
      top: 10px;
      right: 10px;

      .circle {
        $circle-width: 84px;
        $circle-height: 84px;
        $circle-inner-width: 64px;
        $circle-inner-height: 64px;

        position: relative;
        width: $circle-width;
        height: $circle-height;
        background: #fff;
        border-radius: 50%;
        text-align: center;
        overflow: hidden;
        z-index: 1;

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: calc(-#{$circle-width} / 2);
          width: $circle-width;
          height: $circle-height;
          background: rgb(59, 221, 132);
          transform-origin: right calc(#{$circle-width} / 2);
          z-index: 2;
          animation-name: rotate-circle-left;
          animation-timing-function: linear;
          animation-fill-mode: forwards;
        }

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 0px;
          left: calc(#{$circle-width} / 2);
          width: $circle-width;
          height: $circle-height;
          background: rgb(59, 221, 132);
          transform-origin: left calc(#{$circle-width} / 2);
          z-index: 3;
          animation-name: rotate-circle-right;
          animation-timing-function: linear;
          animation-fill-mode: forwards;
        }

        $times: 15, 30, 45, 60, 90, 120;
        @each $time in $times {
          &.circle-#{$time}::after,
          &.circle-#{$time}::before {
            animation-duration: #{$time}s;
          }
        }

        @keyframes rotate-circle-right {
          0% {
            transform: rotate(0deg);
            background: rgb(59, 221, 132);
          }
          50% {
            transform: rotate(180deg);
            background: rgb(59, 221, 132);
          }
          50.01% {
            transform: rotate(360deg);
            background: #fff;
          }
          100% {
            transform: rotate(360deg);
            background: #fff;
          }
        }

        @keyframes rotate-circle-left {
          0% {
            transform: rotate(0deg);
            background: rgb(59, 221, 132);
          }
          50% {
            transform: rotate(0deg);
            background: rgb(59, 221, 132);
          }
          75% {
            transform: rotate(90deg);
            background: orange;
          }
          100% {
            transform: rotate(180deg);
            background: red;
          }
        }

        .circle-inner {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: $circle-inner-width;
          height: $circle-inner-height;
          background: #fbf4df;
          border-radius: 50%;
          z-index: 4;
          #remaining-time-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: bold;
            font-size: 24px;
            color: #747474;

            &.last-10 {
              color: orange;
            }
            &.last-5 {
              color: red;
            }
          }
        }
      }
    }
  }
}

/********************************

********************************/
#typing-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
  margin-top: 18px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px #333;
  background: linear-gradient(90deg, rgba(208, 147, 82, 0.6), rgba(192, 134, 70, 0.6) 60%, rgba(208, 147, 82, 0.6)),
    repeating-radial-gradient(ellipse at 60% 500%, #c08646, #c08646 0.2%, #d09352 0.6%, #d09352 1%);
}

/********************************
キーボード
********************************/
$keyboard-color: #eeeded;
$key-color: rgb(156, 156, 156);
$key-background-color: white;
$key-border-color: #d8d8d8;
$key-box-shadow-color: #c2c7ce;
$target-key-color: white;
$target-key-background-color: orange;
$miss-key-color: white;
$miss-key-background-color: red;

#keyboard-container {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  #keyboard {
    padding: 15px;
    border-radius: 10px;
    background-color: $keyboard-color;
    box-shadow: 3px 3px 3px #606468, -1px -1px 3px #606468;
    user-select: none;
    .row {
      display: flex;
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0px;
      }
      .key {
        border: 1px solid $key-border-color;
        border-radius: 3px;
        box-shadow: 1px 1px 1px $key-box-shadow-color;
        font-weight: bold;
        font-size: 16px;
        margin-right: 5px;
        width: 35px;
        height: 35px;
        background-color: $key-background-color;
        color: $key-color;
        position: relative;
        animation-duration: 0.2s;
        animation-timing-function: linear;
        &:last-child {
          margin-right: 0;
        }
        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .not-use {
        background-color: $keyboard-color;
      }

      .target-key {
        background-color: $target-key-background-color;
        color: $target-key-color;
      }

      .missed-key {
        background-color: $miss-key-background-color;
        color: $miss-key-color;
      }

      @for $i from 1 through 10 {
        .opacity-#{$i} {
          opacity: $i / 10;
        }
      }

      @keyframes flash {
        0%,
        100% {
          opacity: 1;
        }

        50% {
          opacity: 0;
        }
      }

      #key-tab {
        width: 55px;
      }

      #key-enter-1 {
        border-left: 1px solid $key-border-color;
        border-top: 1px solid $key-border-color;
        border-right: 1px solid $key-border-color;
        border-radius: 3px 3px 0 3px;
        box-shadow: 1px 0px $key-box-shadow-color;
        width: 55px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          display: inline-block;
          width: 10px;
          height: 1px;
          background-color: $key-border-color;
        }
      }

      #key-caps {
        width: 65px;
      }

      #key-enter-2 {
        border-left: 1px solid $key-border-color;
        border-bottom: 1px solid $key-border-color;
        border-right: 1px solid $key-border-color;
        border-radius: 0 0 3px 3px;
        box-shadow: 1px 1px 1px $key-box-shadow-color;
        width: 45px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: -5px;
          left: -1px;
          display: inline-block;
          width: 1px;
          height: 6px;
          background-color: $key-border-color;
        }
        &::after {
          content: "";
          position: absolute;
          top: -5px;
          right: -1px;
          display: inline-block;
          width: 1px;
          height: 6px;
          background-color: $key-border-color;
          box-shadow: 1px 0px $key-box-shadow-color;
        }
      }

      #key-shift-left {
        width: 80px;
      }

      #key-shift-right {
        width: 70px;
      }

      #key-ctrl {
        width: 50px;
      }

      #key-space {
        width: 140px;
      }
    }
  }
}

/********************************
キーボード対応指
********************************/
$finger-border-color: #d8d8d8;
$finger-color: white;
$target-finger-color: orange;
#hand-container {
  display: flex;
  justify-content: center;

  #hand-left {
    margin-right: 25px;
  }

  .hand {
    display: flex;
    align-items: flex-end;

    .finger {
      background-color: $finger-color;
      border: 1px solid $finger-border-color;
      border-radius: 20px 20px 0 0;
      box-shadow: 1px 0px 2px #ccc;
      margin-right: 10px;
      width: 35px;
      &:last-child {
        margin-right: 0;
      }
    }

    .target-finger {
      background-color: $target-finger-color;
      border: 1px solid $target-finger-color;
    }

    .finger-little {
      height: 70px;
    }

    .finger-ring {
      height: 90px;
    }

    .finger-middle {
      height: 100px;
    }

    .finger-index {
      height: 85px;
    }

    .finger-thumb {
      height: 40px;
    }
  }
}

/********************************
サイドコンテンツ
********************************/
#side-contents {
  width: calc(30% - 15px);
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #333;

  #side-menu-title {
    cursor: default;
    width: 100%;
    padding: 5px 0 0 0;
    background-color: #5fb3f5;
    border-radius: 10px 10px 0 0;
    box-shadow: none;

    .hamburger {
      display: none;
    }

    .title {
      text-align: center;
      font-size: 1.5rem;
      color: white;
      font-weight: bold;
      writing-mode: unset;
    }
  }

  #setting-window {
    width: 100%;
    padding: 10px;
    border: 3px solid #5fb3f5;
    border-radius: 0 0 10px 10px;
    background-color: white;
    position: relative;
    font-size: 1rem;

    .tab-box {
      position: relative;
      width: 100%;
      margin: 2rem auto 0 auto;
      padding: 10px;
      border: 2px solid #8d93c8;
      border-radius: 0 10px 10px 10px;
      box-shadow: 2px 2px 2px #ccc;

      .title {
        position: absolute;
        display: inline-block;
        top: -33px;
        left: -2px;
        padding: 5px;
        height: 33px;
        font-weight: bold;
        color: #fff;
        background-color: #8d93c8;
        border-radius: 8px 8px 0 0;
      }

      &:last-of-type {
        margin-top: 3rem;
      }
    }

    .label-wrapper {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    $selected-color: #5fb3f5;

    .radio-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      input {
        display: none;

        &:checked + label {
          background-color: $selected-color;
          border: 3px solid #0b88fd;
          color: white;
          &:hover {
            opacity: 1;
          }
        }
      }

      label {
        cursor: pointer;
        display: inline-block;
        text-align: center;
        width: 18%;
        padding: 5px;
        border: 3px solid transparent;
        border-radius: 5px;
        background-color: #dfdfdf;
        font-size: 1.1rem;
        transition: 0.4s;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    .checkbox-wrapper {
      .checkbox {
        display: none;

        + label {
          position: relative;
          display: inline-block;
          cursor: pointer;
          padding: 11px 0px 11px 45px;

          &::before,
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }

          &::before {
            width: 38px;
            height: 18px;
            left: 0;
            border: 1px solid #e4e3e1;
            border-radius: 18px;
            background-color: #ffffff;
          }

          &::after {
            width: 19px;
            height: 18px;
            left: 0;
            border-radius: 50%;
            background-color: #bdbdbd;
            transition: all 0.3s ease-out;
          }
        }

        &:checked + label::after {
          left: 19px;
          background-color: $selected-color;
        }

        &:not(:checked) ~ .select-wrapper {
          display: none;
        }
      }
    }

    .select-wrapper {
      display: inline-block;
      width: 70px;
      margin-left: 4px;
      position: relative;
      border: 2px solid $selected-color;
      border-radius: 35px;
      background-color: white;
      z-index: 0;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-top: 5px solid #383e45;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        z-index: -1;
      }

      .select {
        width: 100%;
        cursor: pointer;
        border: none;
        outline: none;
        background: transparent;
        background-image: none;
        box-shadow: none;
        appearance: none;
        padding: 3px 30px 3px 10px;
      }
    }
  }
}

/********************************
背景マスク
********************************/
#background-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  background: #000;
  z-index: 100;
}

/********************************
フッター
********************************/
#footer {
  margin-top: auto;
  background-color: rgb(182, 181, 181);
  padding: 20px;
  .copyright {
    text-align: center;
  }
}

@media screen and (max-width: 950px) {
  #main-contents {
    width: 100%;
  }

  #side-contents {
    width: 50px;
    margin-left: 0;
    flex-direction: row;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: none;

    #side-menu-title {
      cursor: pointer;
      width: 50px;
      padding: 0 10px 10px 10px;
      background-color: #5fb3f5;
      border-radius: 10px 0 0 10px;
      box-shadow: 0 2px 10px #747474;

      &:hover {
        background-color: #78c0f7;
      }

      .hamburger {
        display: block;
        width: 100%;
        height: 50px;
        position: relative;
        span {
          position: absolute;
          width: 80%;
          height: 2px;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #ffffff;
          transition: all 0.3s;
        }
        span:nth-child(1) {
          top: 30%;
        }
        span:nth-child(2) {
          top: 50%;
        }
        span:nth-child(3) {
          top: 70%;
        }
      }

      .title {
        margin: auto;
        font-size: 1.2rem;
        color: white;
        writing-mode: vertical-rl;
      }
    }

    #setting-window {
      display: none;
    }

    &:focus-within {
      width: 50%;

      & ~ #background-mask {
        visibility: visible;
        opacity: 0.6;
      }

      #setting-window {
        display: block;
        width: calc(100% - 50px);
        border-radius: 0 10px 10px 10px;
      }

      #side-menu-title {
        pointer-events: none;
        box-shadow: none;
        .hamburger {
          span:nth-child(1) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
          }
          span:nth-child(2) {
            display: none;
          }
          span:nth-child(3) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
      }
    }
  }
}
